<div class="mat-mdc-dialog-surface mdc-dialog__surface">
  <div class="d-flex flex-column" style="height: 100%;">
    <div class="d-flex justify-content-end">
      <button (click)="closeDialog()" style="margin-top: 7px; margin-right: 7px">❌</button>
    </div>

    <h5 class="text-center mb-4">{{ shopper.shoppingList.listName }}</h5>
    <hr><br>

    <div class="table-container">
      <table class="table table-responsive" *ngIf="shopper.shoppingList">
        <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of shopper.shoppingList.items">
          <td>
            <b>{{ item.itemName }}</b>
          </td>
          <td>
            <button (click)="removeItem(item.id)">🗑️</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-end" style="margin-top: auto; margin-right: 15px; margin-bottom: 15px;">
      <button (click)="itemList()">📜</button>
    </div>
  </div>
</div>
