.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.table-container table {
  width: 50%;
  margin: 0 auto;
}

.table-container button {
  width: 50px;
}

th, td {
  text-align: center;
  width: 30%;
  border-bottom: none;
}

.button {
  border-radius: 15%;
  cursor: pointer;
}

.button:hover {
  background-color: #2980b9;
}
