.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.table-container table {
  width: 30%;
  margin: 0 auto;
}

.table-container button {
  width: 40px;
  height: 30px;
}

th, td {
  text-align: center;
  width: 40%;
  border-bottom: none;
}

.button {
  margin-left: 15px;
  border-radius: 10px;
}

.button:hover {
  background-color: #04AA6D;
  color: white;
}
