<div class="mat-mdc-dialog-surface mdc-dialog__surface">
  <div class="d-flex flex-column" style="height: 100%;">
    <div class="d-flex justify-content-end">
      <button class="btn btn-secondary" style="margin-top: 5px; margin-right: 5px" (click)="closeDialog()">
        <i class="fa fa-times fa-lg" aria-hidden="true"></i>
      </button>
    </div>
    <div class="table-container">
      <table class="table table-responsive">
        <tbody *ngFor="let x of items">
        <tr>
          <td><b>{{x.itemName}}</b></td>
          <td>
            <button (click)="addItem(x.id)">+</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

