.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.table-container table {
  width: 30%;
  margin: 0 auto;
}

.table-container button {
  width: 150px;
}

th, td {
  text-align: center;
  width: 33%;
}
