<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand me-5">Shopping list</a>
  </div>
</nav>

<div class="table-container">
  <table class="table table-responsive">
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody *ngFor="let x of shoppers">
    <tr>
      <td><b>{{x.shopperName}}</b></td>
      <td>
        <button (click)="openForm(x)">🛒</button>
      </td>
      <td>
        <button (click)="deleteList(x)">🗑️</button></td>
    </tr>
    </tbody>
  </table>
</div>
